#dir-btns {
  text-align: center;
}

.dir-btn span,
.dir-btn:before {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.dir-btn {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.25rem;
  z-index: 1;
}
.dir-btn span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.375rem 0.75rem;
  border-left: none;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(top, white, #f7f7f7);
  background-image: -moz-linear-gradient(top, white, #f7f7f7);
  background-image: -ms-linear-gradient(top, white, #f7f7f7);
  background-image: -o-linear-gradient(top, white, #f7f7f7);
  background-image: linear-gradient(top, white, #f7f7f7);
}
.dir-btn:before {
  position: absolute;
  top: 0.29377rem;
  left: -0.6825rem;
  display: block;
  width: 1.6892rem;
  height: 1.6892rem;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(-45deg, white, #f7f7f7);
  background-image: -moz-linear-gradient(-45deg, white, #f7f7f7);
  background-image: -ms-linear-gradient(-45deg, white, #f7f7f7);
  background-image: -o-linear-gradient(-45deg, white, #f7f7f7);
  background-image: linear-gradient(-45deg, white, #f7f7f7);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  z-index: -1;
}

.dir-btn:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.dir-btn:hover span {
  border-color: #aa305e;
  color: rgba(0, 0, 0, 0.75);
  background-color: #f874a4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f874a4), color-stop(100%, #ec528d));
  background-image: -webkit-linear-gradient(top, #f874a4, #ec528d);
  background-image: -moz-linear-gradient(top, #f874a4, #ec528d);
  background-image: -ms-linear-gradient(top, #f874a4, #ec528d);
  background-image: -o-linear-gradient(top, #f874a4, #ec528d);
  background-image: linear-gradient(top, #f874a4, #ec528d);
}
.dir-btn:hover:before {
  border-color: #aa305e;
  background-color: #f874a4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f874a4), color-stop(100%, #ec528d));
  background-image: -webkit-linear-gradient(-45deg, #f874a4, #ec528d);
  background-image: -moz-linear-gradient(-45deg, #f874a4, #ec528d);
  background-image: -ms-linear-gradient(-45deg, #f874a4, #ec528d);
  background-image: -o-linear-gradient(-45deg, #f874a4, #ec528d);
  background-image: linear-gradient(-45deg, #f874a4, #ec528d);
}

.dir-next span {
  border: 1px solid #cccccc;
  border-right: none;
}
.dir-next:before {
  left: auto;
  right: -0.6825rem;
}

.dir-next:hover span {
  border-color: #aa305e;
}
