*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  border-top: 6px solid #444444;
  font: 1.125em/1.5 "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #444444;
}

body {
  margin: 0;
  background: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

a {
  text-shadow: none;
  color: #21759b;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
a:hover {
  color: #d54e21;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.375rem;
  font-family: "adelle", georgia, times, "times new roman", serif;
  color: #444444;
}

h1,
.alpha {
  font-size: 2rem;
  line-height: 1.33333;
}

h2,
.beta {
  font-size: 1.66667rem;
  line-height: 1.4;
}

h3,
.gamma {
  font-size: 1.33333rem;
}

h4,
.delta {
  font-size: 1.16667rem;
}

h5,
.epsilon {
  font-size: 1rem;
}

h6,
.zeta {
  font-size: 0.83333rem;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  margin-bottom: 1.5rem;
  border: none;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white;
}

mark {
  color: black;
  background: #fcf8e3;
}

code,
kbd,
pre,
samp {
  font-family: menlo, consolas, "liberation mono", courier, monospace;
  font-size: 0.83333rem;
}

p {
  margin: 0 0 1.5rem;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
  margin: 0 0 0.75rem;
  padding: 0;
}
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/**
 * We don't want to use rems for <small>, <sub> or <sup>.
 * We want the font-size to remain relative to whatever the parent element is.
 */
small {
  font-size: 0.875em;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  padding: 0;
  margin: 0 0 1.5rem 1.5rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

.list-unstyled {
  margin-left: 0;
  list-style: none;
}

.two-up {
  margin: 0 -0.375rem 0.75rem;
  *zoom: 1;
}
.two-up:before, .two-up:after {
  content: " ";
  display: table;
}
.two-up:after {
  clear: both;
}
.two-up li {
  float: left;
  width: 50%;
  padding: 0 0.375rem 0.75rem;
}

.list-equipment img {
  margin-right: 0.375rem;
  vertical-align: middle;
}
.list-equipment .btn {
  display: block;
  overflow: hidden;
  padding: 0.375rem;
  text-overflow: ellipsis;
}

code {
  padding: 0.25rem 0.25rem 0.125rem;
  border: 1px solid #caad16;
  border-radius: 4px;
  color: #7f612e;
  background: #fcf8e3;
}

.gist {
  color: #c0c5ce !important;
}

.gist .gist-file {
  margin-bottom: 1.5rem !important;
  border: 1px solid #2b303b !important;
  border-bottom: 1px solid #2b303b !important;
  border-radius: 4px !important;
  font-family: menlo, consolas, "liberation mono", courier, monospace !important;
  background: #343d46 !important;
}
.gist .gist-file .gist-data {
  border-bottom: 1px solid #65737e !important;
  font-size: 0.72222rem !important;
  color: #c0c5ce;
  background: #343d46 !important;
}
.gist .gist-file .gist-data .line-numbers {
  border-right: 1px solid #65737e !important;
  border-radius: 4px 0 0 0;
  color: #c0c5ce !important;
  background-color: #4f5b66 !important;
}
.gist .gist-file .gist-data .line-pre {
  font-family: menlo, consolas, "liberation mono", courier, monospace !important;
}
.gist .gist-file .gist-meta {
  border-radius: 0 0 4px 4px;
  font-size: 0.66667rem !important;
  text-shadow: none !important;
  color: #c0c5ce !important;
  background: #4f5b66 !important;
}
.gist .gist-file .gist-meta a {
  color: #dfe1e8 !important;
}

.gist-syntax {
  color: #c0c5ce !important;
  background: #343d46 !important;
}

.gist-syntax .c {
  color: #a7adba !important;
  font-style: italic;
}

.gist-syntax .err {
  color: #bf616a !important;
  background-color: white !important;
}

.gist-syntax .k {
  color: #c0c5ce !important;
  font-weight: normal !important;
}

.gist-syntax .o {
  color: #c0c5ce !important;
  font-weight: normal !important;
}

.gist-syntax .cm {
  color: #a7adba !important;
  font-style: italic;
}

.gist-syntax .cp {
  color: #a7adba !important;
  font-weight: normal !important;
}

.gist-syntax .c1 {
  color: #a7adba !important;
  font-style: italic;
}

.gist-syntax .cs {
  color: #a7adba !important;
  font-weight: normal !important;
  font-style: italic;
}

.gist-syntax .gd {
  color: #4f5b66 !important;
  background-color: #e4bcc0 !important;
}

.gist-syntax .gd .x {
  color: #4f5b66 !important;
  background-color: #e4bcc0 !important;
}

.gist-syntax .ge {
  color: #c0c5ce !important;
  font-style: italic;
}

.gist-syntax .gr {
  color: #bf616a !important;
}

.gist-syntax .gh {
  color: #a7adba !important;
}

.gist-syntax .gi {
  color: #4f5b66 !important;
  background-color: #cadabd !important;
}

.gist-syntax .gi .x {
  color: #4f5b66 !important;
  background-color: #cadabd !important;
}

.gist-syntax .go {
  color: #a7adba !important;
}

.gist-syntax .gp {
  color: #c0c5ce !important;
}

.gist-syntax .gs {
  font-weight: normal !important;
}

.gist-syntax .gu {
  color: #a7adba !important;
}

.gist-syntax .gt {
  color: #bf616a !important;
}

.gist-syntax .kc {
  color: #d08770 !important;
  font-weight: normal !important;
}

.gist-syntax .kd {
  color: #b48ead !important;
  font-weight: normal !important;
}

.gist-syntax .kp {
  color: #c0c5ce !important;
  font-weight: normal !important;
}

.gist-syntax .kr {
  color: #c0c5ce !important;
  font-weight: normal !important;
}

.gist-syntax .kt {
  color: #8fa1b3 !important;
  font-weight: normal !important;
}

.gist-syntax .m {
  color: #a3be8c !important;
}

.gist-syntax .s {
  color: #a3be8c !important;
}

.gist-syntax .na {
  color: #d08770 !important;
}

.gist-syntax .nb {
  color: #8fa1b3 !important;
}

.gist-syntax .nc {
  color: #8fa1b3 !important;
  font-weight: normal !important;
}

.gist-syntax .no {
  color: #96b5b4 !important;
}

.gist-syntax .ni {
  color: #b48ead !important;
}

.gist-syntax .ne {
  color: #bf616a !important;
  font-weight: normal !important;
}

.gist-syntax .nf {
  color: #bf616a !important;
  font-weight: normal !important;
}

.gist-syntax .nn {
  color: #c0c5ce !important;
}

.gist-syntax .nt {
  color: #bf616a !important;
}

.gist-syntax .nv {
  color: #96b5b4 !important;
}

.gist-syntax .ow {
  color: #c0c5ce !important;
  font-weight: normal !important;
}

.gist-syntax .w {
  color: #a7adba !important;
}

.gist-syntax .mf {
  color: #a3be8c !important;
}

.gist-syntax .mh {
  color: #a3be8c !important;
}

.gist-syntax .mi {
  color: #d08770 !important;
}

.gist-syntax .mo {
  color: #a3be8c !important;
}

.gist-syntax .sb {
  color: #bf616a !important;
}

.gist-syntax .sc {
  color: #bf616a !important;
}

.gist-syntax .sd {
  color: #bf616a !important;
}

.gist-syntax .s2 {
  color: #bf616a !important;
}

.gist-syntax .se {
  color: #bf616a !important;
}

.gist-syntax .sh {
  color: #bf616a !important;
}

.gist-syntax .si {
  color: #bf616a !important;
}

.gist-syntax .sx {
  color: #bf616a !important;
}

.gist-syntax .sr {
  color: #a3be8c !important;
}

.gist-syntax .s1 {
  color: #a3be8c !important;
}

.gist-syntax .ss {
  color: #b48ead !important;
}

.gist-syntax .bp {
  color: #a7adba !important;
}

.gist-syntax .vc {
  color: #96b5b4 !important;
}

.gist-syntax .vg {
  color: #96b5b4 !important;
}

.gist-syntax .vi {
  color: #96b5b4 !important;
}

.gist-syntax .il {
  color: #a3be8c !important;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

iframe {
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.iframe-polaroid,
.img-polaroid img {
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: white;
}

.fluid-width-video-wrapper {
  margin-bottom: 1.5rem;
}

.figure-img {
  display: inline-block;
  margin: 0 0 1.5rem;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 0 white;
  background: #f0f2f4;
}
.figure-img.pull-right, .figure-img.pull-left {
  max-width: 50%;
}
.figure-img.pull-right {
  margin: 0 0 1.5rem 1.5rem;
}
.figure-img.pull-left {
  margin: 0 1.5rem 1.5rem 0;
}
.figure-img img {
  display: block;
  margin: 0 auto;
}
.figure-img figcaption {
  margin-top: 0.75rem;
  font-size: 0.83333rem;
}
.figure-img figcaption:before {
  margin-right: 0.375rem;
  content: "\2014";
}

.figure-quote {
  margin: 0 0 1.5rem;
  padding-left: 1.5rem;
  font-style: italic;
  border-left: 3px solid #d54e21;
}
.figure-quote figcaption {
  text-shadow: 0 1px 0 white;
  color: #999999;
}
.figure-quote figcaption:before {
  margin-right: 0.375rem;
  content: "\2014";
}

.banner {
  max-height: 440px;
  margin: -2.5rem auto 2.5rem;
  overflow: hidden;
}
.banner img {
  width: 100%;
}

.panel {
  margin-bottom: 1.5rem;
  padding: 1.5rem 1.5rem 0;
  border: 1px solid;
  border-color: #cccccc #cccccc #c4c4c4;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: white;
}

.panel-info {
  border-color: #74bfe1;
  background: #ddeff8;
}

.panel-demo {
  position: relative;
  padding: 3rem 1.5rem 1.5rem;
}
.panel-demo:after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 0.375rem 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 4px 0;
  font-size: 0.83333rem;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  color: #999999;
  background: white;
  content: "Demo";
}

.btn {
  display: inline-block;
  padding: 0 0.5rem;
  border: 1px solid #cccccc;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  vertical-align: middle;
  white-space: nowrap;
  color: #666666;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 1px 1px white;
}
.btn:hover {
  border-color: #cccccc #cccccc #c4c4c4;
  text-decoration: none;
  color: #666666;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(white, #f7f7f7);
  background-image: linear-gradient(white, #f7f7f7);
}

#likes {
  position: absolute;
  top: -4.625rem;
  right: 0;
  display: inline-block;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
#likes.counted {
  text-shadow: none;
  color: white;
  border-color: #d54e21;
  box-shadow: none;
  background: #d54e21;
}
#likes.moveme {
  position: relative;
  top: auto;
  right: auto;
}

.no-js #likes {
  display: none;
}

.alert {
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
  color: #7f612e;
  border: 1px solid #caad16;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #fcf8e3;
}
.alert h3 {
  margin-bottom: 0.375rem;
  font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 1rem;
  color: inherit;
}
.alert p {
  margin-bottom: 0;
}
.alert p + p {
  margin-top: 0.75rem;
}
.alert a {
  color: #d54e21;
}
.alert a:hover {
  color: #21759b;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-main {
  float: right;
  font-size: 1.16667rem;
  line-height: 1.333333333;
}
.nav-main li {
  display: inline-block;
  padding-left: 0.75rem;
}
.nav-main a {
  display: block;
  text-decoration: none;
}

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom.eot");
  src: url("../fonts/fontcustom.eot?#iefix") format("embedded-opentype"), url("../fonts/fontcustom.woff") format("woff"), url("../fonts/fontcustom.ttf") format("truetype"), url("../fonts/fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.icon-dribbble:before,
.icon-eye:before,
.icon-flickr:before,
.icon-github:before,
.icon-heart-empty:before,
.icon-heart-full:before,
.icon-instagram:before,
.icon-lastfm:before,
.icon-rss:before,
.icon-twitter:before {
  display: inline-block;
  position: relative;
  top: 1px;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-dribbble:before {
  content: "\f100";
}

.icon-eye:before {
  content: "\f101";
}

.icon-flickr:before {
  content: "\f102";
}

.icon-github:before {
  content: "\f103";
}

.icon-heart-empty:before {
  content: "\f104";
}

.icon-heart-full:before {
  content: "\f105";
}

.icon-instagram:before {
  content: "\f106";
}

.icon-lastfm:before {
  content: "\f107";
}

.icon-rss:before {
  content: "\f108";
}

.icon-twitter:before {
  content: "\f109";
}

.container {
  width: 90%;
  max-width: 40em;
  margin: 0 auto;
}

#layout {
  min-height: 100%;
  margin-bottom: -3rem;
}

#content {
  margin-bottom: 1.5rem;
}

#head {
  margin-bottom: 2.5rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #cccccc;
  box-shadow: 0 1px 0 white;
}

#logo {
  display: inline-block;
  margin: 0;
  font-size: 1.33333rem;
  line-height: 1;
  vertical-align: middle;
}
#logo a {
  text-decoration: none;
}
#logo .visible-small {
  visibility: hidden;
}
#logo .circles {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 0.375rem;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 0 0 4px #d54e21;
  background: #21759b;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#logo:hover .circles {
  border: 6px solid white;
  background: #d54e21;
  box-shadow: 0 0 0 4px #21759b;
}

#faux-foot {
  height: 3rem;
}

#foot {
  position: relative;
  clear: both;
  height: 3rem;
  border-top: 1px solid #cccccc;
  color: #999999;
}
#foot a {
  text-decoration: none;
  color: #999999;
}
#foot a:hover {
  color: #d54e21;
}

#rss,
#copyright {
  margin: 0.75rem 0;
}

#rss {
  float: right;
}

#copyright {
  float: left;
}

#disqus_thread {
  margin-top: 1.5rem;
}
#disqus_thread iframe {
  margin-bottom: 0.5rem;
}

.post > header {
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 white;
}
.post > header > h2 {
  margin-bottom: 0.25rem;
}
.post > footer {
  margin: 1.5rem 0;
  *zoom: 1;
}
.post > footer:before, .post > footer:after {
  content: " ";
  display: table;
}
.post > footer:after {
  clear: both;
}

.content {
  position: relative;
}

.archive-list {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.archive-list-item {
  position: relative;
}
.archive-list-item h2 {
  position: absolute;
  top: 1.25rem;
  right: 0;
  text-shadow: 0 1px 0 white;
  color: #999999;
}
.archive-list-item article > h3 {
  margin-bottom: 0;
  padding-right: 6rem;
}
.archive-list-item article > h3 a {
  text-decoration: none;
}
.archive-list-item.with-year {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 white inset;
}
.archive-list-item:first-child {
  padding-top: 0;
  border: none;
  box-shadow: none;
}
.archive-list-item:first-child h2 {
  top: -0.25rem;
}

.meta-data {
  text-shadow: 0 1px 0 white;
  color: #999999;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hidden {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.visible-small {
  display: none !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 1em;
  }

  .figure-img {
    display: block;
    float: none;
  }
  .figure-img.pull-right, .figure-img.pull-left {
    max-width: 100%;
    margin: 0 0 1.5rem 0;
  }
  .figure-img figcaption {
    text-align: center;
  }

  .two-up {
    margin: 0 0 0.75rem;
  }
  .two-up li {
    float: none;
    width: 100%;
    padding: 0 0 0.75rem;
  }

  .post > header > h2 {
    margin-bottom: 0.375rem;
  }

  .visible-small {
    display: inherit !important;
  }

  .visible-large {
    display: none !important;
  }

  #logo .visible-small {
    visibility: visible;
  }
  #logo .visible-large {
    visibility: hidden;
  }
}
