@media screen and (min-width: 900px) {
  body {
    background: #f0f2f4;
  }
}
@media screen and (max-width: 600px) {
  body {
    background: #f0f9f0;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    background: #f9f0f0;
  }
}
@media only screen and (max-device-width: 480px) {
  body {
    background: #f0f9f0;
  }
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  body {
    background: #f9f0f0;
  }
}
