---
layout: default
---

{% if page.banner %}
  <div class="banner hidden">
    {% picture banner banners/{{ page.banner }} alt="" %}
    {% if page.caption %}
      <span class="caption">{{ page.caption }}</span>
    {% endif %}
  </div>
{% endif %}

<main id="content" class="container" role="main">
  <article class="post">
    <header class="post-header">
      {% if page.title %}
        <h2>{{ page.title }}</h2>
      {% endif %}

      <p class="meta-data">
        {% if page.date  %}
          <span class="post-date">{{ page.date | date: "%B %d, %Y" }}</span>
        {% endif %}
      </p>
    </header>
    <div class="post-content">
      {{ content }}
    </div>
    <footer class="post-footer">
      <nav class="nav nav-posts">
        {% if page.previous and page.previous.categories[0] == page.categories[0] %}
          <a class="btn pull-left" href="{{ page.previous.url }}">&#8592; Prev</a>
        {% else %}
          <a class="btn pull-left disabled">&#8592; Prev</a>
        {% endif %}

        <a id="likes" class="btn" data-page-id="{{ page.id }}" href="#">
          <i class="icon-heart-empty"></i> <span class="count">&dash;</span>
        </a>

        {% if page.next and page.next.categories[0] == page.categories[0] %}
          <a class="btn pull-right" href="{{ page.next.url }}">Next &#8594;</a>
        {% else %}
          <a class="btn pull-right disabled">Next &#8594;</a>
        {% endif %}
      </nav>
    </footer>
  </article>
</main>
