// =============================================================================
// Archives
// =============================================================================

.archive-list {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.archive-list-item {
  h2 {
    padding: $base-spacing-unit 0;
    @include keyline(bottom);
  }

  &:first-child h2 {
    padding-top: 0;
  }

  article > h3 {
    margin-bottom: 0;
  }
}
