// =============================================================================
// Buttons
// =============================================================================

.btn {
  display: inline-block;
  padding: 0 ($base-spacing-unit / 3);
  border: 1px solid $gray-light;
  font-weight: bold;
  text-shadow: 0 1px 0 $white;
  vertical-align: middle;
  white-space: nowrap;
  color: $gray-dark;
  background: transparent;
  cursor: pointer;
  border-radius: $base-radius;
  @include box-shadow(0 1px 1px $white);

  &:hover {
    border-color: $gray-light $gray-light darken($gray-light, 3%);
    text-decoration: none;
    color: $gray-dark;
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
    @include linear-gradient($white, darken($white, 3%));
  }
}
