// =============================================================================
// Code
// =============================================================================

code {
  padding: ($base-spacing-unit / 6) ($base-spacing-unit / 6) ($base-spacing-unit / 12);
  border: 1px solid darken($yellow, 50%);
  border-radius: $base-radius;
  color: $brown;
  background: $yellow;
}

// Gist syntax highlighting
// =====================================

.gist {
  color: $highlight-base05 !important;
}

.gist .gist-file {
  margin-bottom: $base-spacing-unit !important;
  border: 1px solid $highlight-base00 !important;
  border-bottom: 1px solid $highlight-base00 !important;
  border-radius: $base-radius !important;
  font-family: $mono-font-family !important;
  background: $highlight-base01 !important;

  .gist-data {
    border-bottom: 1px solid $highlight-base03 !important;
    font-size: (13px / $base-font-size) * 1rem !important;
    color: $highlight-base05;
    background: $highlight-base01 !important;

    .line-numbers {
      border-right: 1px solid $highlight-base03 !important;
      border-radius: $base-radius 0 0 0;
      color: $highlight-base05 !important;
      background-color: $highlight-base02 !important;
    }

    .line-pre {
      font-family: $mono-font-family !important;
    }
  }

  .gist-meta {
    border-radius: 0 0 $base-radius $base-radius;
    font-size: ($micro-size / $base-font-size) * 1rem !important;
    text-shadow: none !important;
    color: $highlight-base05 !important;
    background: $highlight-base02 !important;

    a {
      color: $highlight-base06 !important;
    }
  }
}

.gist-syntax {
  color: $highlight-base05 !important;
  background: $highlight-base01 !important;
}

.gist-syntax .c           { color: $highlight-base04 !important; font-style: italic; } // Comment
.gist-syntax .err         { color: $highlight-base08 !important; background-color: lighten($highlight-base08, 45%) !important; } // Error
.gist-syntax .k           { color: $highlight-base05 !important; font-weight: normal !important; } // Keyword
.gist-syntax .o           { color: $highlight-base05 !important; font-weight: normal !important; } // Operator
.gist-syntax .cm          { color: $highlight-base04 !important; font-style: italic; } // Comment.Multiline
.gist-syntax .cp          { color: $highlight-base04 !important; font-weight: normal !important; } // Comment.Preproc
.gist-syntax .c1          { color: $highlight-base04 !important; font-style: italic; } // Comment.Single
.gist-syntax .cs          { color: $highlight-base04 !important; font-weight: normal !important; font-style: italic; } // Comment.Special
.gist-syntax .gd          { color: $highlight-base02 !important; background-color: lighten($highlight-base08, 25%) !important; } // Generic.Deleted
.gist-syntax .gd .x       { color: $highlight-base02 !important; background-color: lighten($highlight-base08, 25%) !important; } // Generic.Deleted.Specific
.gist-syntax .ge          { color: $highlight-base05 !important; font-style: italic; } // Generic.Emph
.gist-syntax .gr          { color: $highlight-base08 !important; } // Generic.Error
.gist-syntax .gh          { color: $highlight-base04 !important; } // Generic.Heading
.gist-syntax .gi          { color: $highlight-base02 !important; background-color: lighten($highlight-base0B, 15%) !important; } // Generic.Inserted
.gist-syntax .gi .x       { color: $highlight-base02 !important; background-color: lighten($highlight-base0B, 15%) !important; } // Generic.Inserted.Specific
.gist-syntax .go          { color: $highlight-base04 !important; } // Generic.Output
.gist-syntax .gp          { color: $highlight-base05 !important; } // Generic.Prompt
.gist-syntax .gs          { font-weight: normal !important; } // Generic.Strong
.gist-syntax .gu          { color: $highlight-base04 !important; } // Generic.Subheading
.gist-syntax .gt          { color: $highlight-base08 !important; } // Generic.Traceback
.gist-syntax .kc          { color: $highlight-base09 !important; font-weight: normal !important; } // Keyword.Constant
.gist-syntax .kd          { color: $highlight-base0E !important; font-weight: normal !important; } // Keyword.Declaration
.gist-syntax .kp          { color: $highlight-base05 !important; font-weight: normal !important; } // Keyword.Pseudo
.gist-syntax .kr          { color: $highlight-base05 !important; font-weight: normal !important; } // Keyword.Reserved
.gist-syntax .kt          { color: $highlight-base0D !important; font-weight: normal !important; } // Keyword.Type
.gist-syntax .m           { color: $highlight-base0B !important; } // Literal.Number
.gist-syntax .s           { color: $highlight-base0B !important; } // Literal.String
.gist-syntax .na          { color: $highlight-base09 !important; } // Name.Attribute
.gist-syntax .nb          { color: $highlight-base0D !important; } // Name.Builtin
.gist-syntax .nc          { color: $highlight-base0D !important; font-weight: normal !important; } // Name.Class
.gist-syntax .no          { color: $highlight-base0C !important; } // Name.Constant
.gist-syntax .ni          { color: $highlight-base0E !important; } // Name.Entity
.gist-syntax .ne          { color: $highlight-base08 !important; font-weight: normal !important; } // Name.Exception
.gist-syntax .nf          { color: $highlight-base08 !important; font-weight: normal !important; } // Name.Function
.gist-syntax .nn          { color: $highlight-base05 !important; } // Name.Namespace
.gist-syntax .nt          { color: $highlight-base08 !important; } // Name.Tag
.gist-syntax .nv          { color: $highlight-base0C !important; } // Name.Variable
.gist-syntax .ow          { color: $highlight-base05 !important; font-weight: normal !important; } // Operator.Word
.gist-syntax .w           { color: $highlight-base04 !important; } // Text.Whitespace
.gist-syntax .mf          { color: $highlight-base0B !important; } // Literal.Number.Float
.gist-syntax .mh          { color: $highlight-base0B !important; } // Literal.Number.Hex
.gist-syntax .mi          { color: $highlight-base09 !important; } // Literal.Number.Integer
.gist-syntax .mo          { color: $highlight-base0B !important; } // Literal.Number.Oct
.gist-syntax .sb          { color: $highlight-base08 !important; } // Literal.String.Backtick
.gist-syntax .sc          { color: $highlight-base08 !important; } // Literal.String.Char
.gist-syntax .sd          { color: $highlight-base08 !important; } // Literal.String.Doc
.gist-syntax .s2          { color: $highlight-base08 !important; } // Literal.String.Double
.gist-syntax .se          { color: $highlight-base08 !important; } // Literal.String.Escape
.gist-syntax .sh          { color: $highlight-base08 !important; } // Literal.String.Heredoc
.gist-syntax .si          { color: $highlight-base08 !important; } // Literal.String.Interpol
.gist-syntax .sx          { color: $highlight-base08 !important; } // Literal.String.Other
.gist-syntax .sr          { color: $highlight-base0B !important; } // Literal.String.Regex
.gist-syntax .s1          { color: $highlight-base0B !important; } // Literal.String.Single
.gist-syntax .ss          { color: $highlight-base0E !important; } // Literal.String.Symbol
.gist-syntax .bp          { color: $highlight-base04 !important; } // Name.Builtin.Pseudo
.gist-syntax .vc          { color: $highlight-base0C !important; } // Name.Variable.Class
.gist-syntax .vg          { color: $highlight-base0C !important; } // Name.Variable.Global
.gist-syntax .vi          { color: $highlight-base0C !important; } // Name.Variable.Instance
.gist-syntax .il          { color: $highlight-base0B !important; } // Literal.Number.Integer.Long
