// =============================================================================
// Code
// =============================================================================

code {
  padding: ($base-spacing-unit / 12) ($base-spacing-unit / 6);
  border: 1px solid lighten($blue, 25%);
  border-radius: $base-radius;
  color: $blue;
  background: lighten($blue, 50%);
}

// Syntax highlighting
//
// Selectors: https://github.com/mojombo/tpw/blob/master/css/syntax.css
// Colours: http://ethanschoonover.com/solarized
// =====================================

pre {
  display: block;
  overflow: auto;
  margin: 0 0 $base-spacing-unit;
  padding: $half-spacing-unit;
  border: 1px solid $gray-light;
  border-radius: $base-radius;
  background: $white;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 $white);
}

pre > code {
  padding: 0;
  border: none;
  color: $highlight-base01;
  background: none;
}

.highlight .c                       { color: $highlight-base1; } // Comment
.highlight .cm                      { color: $highlight-base1; } // Comment.Multiline
.highlight .c1                      { color: $highlight-base1; } // Comment.Single
.highlight .k                       { color: $highlight-base01; font-weight: bold; } // Keyword
.highlight .kc                      { color: $highlight-magenta; } // Keyword.Constant
.highlight .kd                      { color: $highlight-base01; font-weight: bold; } // Keyword.Declaration
.highlight .kr                      { color: $highlight-magenta; font-weight: bold; } // Keyword.Reserved
.highlight .m                       { color: $highlight-green; } // Literal.Number
.highlight .mi                      { color: $highlight-green; } // Literal.Number.Integer
.highlight .n                       { color: $highlight-base01; } // Name
.highlight .na                      { color: $highlight-blue; } // Name.Attribute
.highlight .nb                      { color: $highlight-blue; } // Name.Builtin
.highlight .nc                      { color: $highlight-blue; } // Name.Class
.highlight .nd                      { color: $highlight-blue; } // Name.Decorator
.highlight .nf                      { color: $highlight-magenta; } // Name.Function
.highlight .nt                      { color: $highlight-blue; } // Name.Tag
.highlight .nx                      { color: $highlight-base01; } // Name.Property
.highlight .o                       { color: $highlight-base01; } // Operator
.highlight .p                       { color: $highlight-base01; } // Punctuation
.highlight .s                       { color: $highlight-magenta; } // Literal.String
.highlight .s1                      { color: $highlight-magenta; } // Literal.String.Single
.highlight .s2                      { color: $highlight-magenta; } // Literal.String.Double

// .highlight .err                     { color: red; } // Error
// .highlight .g                       { color: red; } // Generic
// .highlight .l                       { color: red; } // Literal
// .highlight .x                       { color: red; } // Other
// .highlight .cp                      { color: red; } // Comment.Preproc
// .highlight .cs                      { color: red; } // Comment.Special
// .highlight .gd                      { color: red; } // Generic.Deleted
// .highlight .ge                      { color: red; font-style: italic } // Generic.Emph
// .highlight .gr                      { color: red; } // Generic.Error
// .highlight .gh                      { color: red; } // Generic.Heading
// .highlight .gi                      { color: red; } // Generic.Inserted
// .highlight .go                      { color: red; } // Generic.Output
// .highlight .gp                      { color: red; } // Generic.Prompt
// .highlight .gs                      { color: red; font-weight: bold; } // Generic.Strong
// .highlight .gu                      { color: red; } // Generic.Subheading
// .highlight .gt                      { color: red; } // Generic.Traceback
// .highlight .kn                      { color: red; } // Keyword.Namespace
// .highlight .kp                      { color: red; } // Keyword.Pseudo
// .highlight .kt                      { color: red; } // Keyword.Type
// .highlight .ld                      { color: red; } // Literal.Date
// .highlight .no                      { color: red; } // Name.Constant
// .highlight .ni                      { color: red; } // Name.Entity
// .highlight .ne                      { color: red; } // Name.Exception
// .highlight .nl                      { color: red; } // Name.Label
// .highlight .nn                      { color: red; } // Name.Namespace
// .highlight .nv                      { color: red; } // Name.Variable
// .highlight .ow                      { color: red; } // Operator.Word
// .highlight .w                       { color: red; } // Text.Whitespace
// .highlight .mf                      { color: red; } // Literal.Number.Float
// .highlight .mh                      { color: red; } // Literal.Number.Hex
// .highlight .mo                      { color: red; } // Literal.Number.Oct
// .highlight .sb                      { color: red; } // Literal.String.Backtick
// .highlight .sc                      { color: red; } // Literal.String.Char
// .highlight .sd                      { color: red; } // Literal.String.Doc
// .highlight .se                      { color: red; } // Literal.String.Escape
// .highlight .sh                      { color: red; } // Literal.String.Heredoc
// .highlight .si                      { color: red; } // Literal.String.Interpol
// .highlight .sx                      { color: red; } // Literal.String.Other
// .highlight .sr                      { color: red; } // Literal.String.Regex
// .highlight .ss                      { color: red; } // Literal.String.Symbol
// .highlight .bp                      { color: red; } // Name.Builtin.Pseudo
// .highlight .vc                      { color: red; } // Name.Variable.Class
// .highlight .vg                      { color: red; } // Name.Variable.Global
// .highlight .vi                      { color: red; } // Name.Variable.Instance
// .highlight .il                      { color: red; } // Literal.Number.Integer.Long
