// =============================================================================
// Code
// =============================================================================

code {
  padding: 0 ($base-spacing-unit / 6);
  border: 1px solid lighten($blue, 25%);
  border-radius: $base-radius;
  color: $blue;
  background: lighten($blue, 50%);
}

pre {
  display: block;
  overflow: auto;
  margin-bottom: $base-spacing-unit;
  padding: $half-spacing-unit;
  border: 1px solid $gray-light;
  border-radius: $base-radius;
  @include inset-effect;
}

pre > code {
  padding: 0;
  border: none;
  color: $gray-dark;
  background: none;
}
