// =============================================================================
// Layout
// =============================================================================

.container {
  width: 90%;
  max-width: 40em;
  margin: 0 auto;
}

#layout {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

#content {
  margin-bottom: $base-spacing-unit;
}

// Site header
// =====================================

#head {
  margin-bottom: $base-spacing-unit * 1.666666667;
  padding: $half-spacing-unit 0;
  border-bottom: 1px solid $gray-light;
  @include box-shadow(0 1px 0 $white);
}

// The logo
// =====================================

#logo {
  display: inline-block;
  margin: 0;
  @include font-size($delta-size);
  line-height: 1;
  vertical-align: middle;

  a {
    text-decoration: none;
  }

  .visible-small {
    visibility: hidden;
  }

  .circles {
    position: relative;
    top: -2px;
    display: inline-block;
    width: $milli-size;
    height: $milli-size;
    margin-right: $quarter-spacing-unit;
    border: 2px solid $white;
    border-radius: 100%;
    @include box-shadow(0 0 0 4px $orange);
    background: $blue;
    @include transition(all 0.3s linear);
  }

  &:hover .circles {
    border: 6px solid $white;
    background: $orange;
    @include box-shadow(0 0 0 4px $blue);
  }
}

// Site footer
// =====================================

#faux-foot {
  height: $footer-height;
}

#foot {
  position: relative;
  clear: both;
  height: $footer-height;
  border-top: 1px solid $gray-light;
  color: $gray;

  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $orange;
    }
  }
}

#rss,
#copyright {
  margin: $half-spacing-unit 0;
}

#rss {
  float: right;
}

#copyright {
  float: left;
}

// Disqus comments
// =====================================

#disqus_thread {
  margin-top: $base-spacing-unit;

  iframe {
    margin-bottom: ($base-spacing-unit / 3);
  }
}
