// =============================================================================
// Lists
// =============================================================================

ul,
ol {
  padding: 0;
  margin: 0 0 $base-spacing-unit $base-spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  margin-left: 0;
  list-style: none;
}

.two-up {
  margin: 0 (-$base-spacing-unit / 4) $base-spacing-unit;
  @include clearfix();

  li {
    float: left;
    width: 50%;
    padding: 0 ($base-spacing-unit / 4) ($base-spacing-unit / 2);
  }
}

.list-equipment {
  img {
    margin-right: ($base-spacing-unit / 4);
    vertical-align: middle;
  }

  .btn {
    display: block;
    padding: ($base-spacing-unit / 4);
  }
}
