// =============================================================================
// Lists
// =============================================================================

ul,
ol {
  margin: 0 0 $base-spacing-unit $base-spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// Archive list
// =====================================

.archive-list {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.archive-list-item {
  clear: both;
  padding-top: $base-spacing-unit;

  > h1 {
    float: left;
    width: flex-grid(4);
  }

  > article {
    float: right;
    width: flex-grid(8);
    margin-left: flex-gutter();

    > h2 {
      margin-bottom: ($base-spacing-unit / 3);
    }
  }
}

.archive-list-item.with-year {
  border-top: 1px solid $gray-light;
  @include box-shadow(0 1px 0 $white inset);

  &:first-child {
    padding-top: 0;
    border-top: none;
    @include box-shadow(none);
  }
}
