// =============================================================================
// Lists
// =============================================================================

ul,
ol {
  padding: 0;
  margin: 0 0 $base-spacing-unit $base-spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  margin-left: 0;
  list-style: none;
}

.two-up {
  margin: 0 (-$quarter-spacing-unit) $half-spacing-unit;
  @include clearfix();

  li {
    float: left;
    width: 50%;
    padding: 0 $quarter-spacing-unit $half-spacing-unit;
  }
}

.list-equipment {
  img {
    margin-right: $quarter-spacing-unit;
    vertical-align: middle;
  }

  .btn {
    display: block;
    overflow: hidden;
    padding: $quarter-spacing-unit;
    text-overflow: ellipsis;
  }
}
