// =============================================================================
// Embedded content
// =============================================================================

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

// =============================================================================
// Figures
// =============================================================================

figure {
  margin: 0;
}

figure > img {
  display: block;
}
