// =============================================================================
// Embedded content
// =============================================================================

img {
  max-width: 100%;
  height: auto;
  border: none;
}

iframe {
  max-width: 100%;
  margin-bottom: $base-spacing-unit;
}

.img-polaroid,
.iframe-polaroid {
  padding: 4px;
  border: 1px solid $gray-light;
  border-radius: $base-radius;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  background: $white;
}

// https://github.com/davatron5000/FitVids.js

.fluid-width-video-wrapper {
  margin-bottom: $base-spacing-unit;
}

// Figures
// =====================================

.figure-img {
  display: inline-block;
  margin: 0 0 $base-spacing-unit;
  padding: $half-spacing-unit;
  border-radius: $base-radius;
  @include inset-effect;

  &.pull-right,
  &.pull-left {
    max-width: 50%;
  }

  &.pull-right {
    margin: 0 0 $base-spacing-unit $base-spacing-unit;
  }

  &.pull-left {
    margin: 0 $base-spacing-unit $base-spacing-unit 0;
  }

  > img {
    display: block;
    margin: 0 auto;
  }

  figcaption {
    margin-top: $half-spacing-unit;
    @include font-size($milli-size);

    &:before {
      margin-right: $quarter-spacing-unit;
      content: "\2014";
    }
  }
}

.figure-quote {
  margin: 0 0 $base-spacing-unit;
  padding-left: $base-spacing-unit;
  font-style: italic;
  border-left: 3px solid $orange;

  figcaption {
    text-shadow: 0 1px 0 $white;
    color: $gray;

    &:before {
      margin-right: $quarter-spacing-unit;
      content: "\2014";
    }
  }
}
