// =============================================================================
// Mixins
// =============================================================================

@mixin font-size($font-size) {
  font-size: ($font-size / $base-font-size) * 1rem;
}

@mixin font-combo($font-size, $line-height) {
  @include font-size($font-size);
  line-height: ($line-height / $font-size);
}

@mixin inset-effect {
  border: 1px solid rgba(0, 0, 0, 0.2);
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 0 $white);
  background: rgba(0, 0, 0, 0.05);
}

@mixin keyline($position) {
  @if $position == top {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    @include box-shadow(0 1px 0 $white inset);
  }

  @if $position == bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    @include box-shadow(0 1px 0 $white);
  }

  @if $position == none {
    border: none;
    @include box-shadow(none);
  }
}
