// =============================================================================
// Mixins
// =============================================================================

@mixin font-size($font-size) {
  font-size: ($font-size / $base-font-size) * 1rem;
}

@mixin font-combo($font-size) {
  font-size: ($font-size / $base-font-size) * 1rem;
  line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}
