// =============================================================================
// Navigation
// =============================================================================

.nav-posts {
  position: absolute;
  right: 0;
  bottom: $base-spacing-unit;
  text-shadow: 0 1px 0 $white;
  color: $gray;
}
