// =============================================================================
// Panels
// =============================================================================

.panel {
  margin-bottom: $base-spacing-unit;
  padding: $base-spacing-unit $base-spacing-unit 0;
  border: 1px solid;
  border-color: $gray-light $gray-light darken($gray-light, 3%);
  border-radius: $base-radius;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  background: $white;
}

.panel-info {
  border-color: lighten($blue, 30%);
  background: lighten($blue, 55%);

  pre {
    border-color: lighten($blue, 35%);
    background: rgba(255, 255, 255, 0.5);
  }
}

.panel-demo {
  position: relative;
  padding: $double-spacing-unit $base-spacing-unit $base-spacing-unit;

  &:after {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: $quarter-spacing-unit $half-spacing-unit;
    border: 1px solid $gray-light;
    border-radius: $base-radius 0;
    @include font-size($milli-size);
    font-weight: bold;
    text-shadow: 0 1px 0 $white;
    color: $gray;
    background: $body-background;
    content: "Demo";
  }
}
