// =============================================================================
// Posts
// =============================================================================

.post {
  > header {
    position: relative;
    margin-bottom: $base-spacing-unit;
    @include keyline(bottom);

    > h2 {
      margin-bottom: ($base-spacing-unit / 6);
    }
  }
}
