// =============================================================================
// Media queries
// =============================================================================

@media (max-width: 479px) {
  .nav-main {
    float: none;
    margin-top: $base-spacing-unit / 1.5;

    li {
      margin-right: $half-spacing-unit;
      margin-left: 0;
    }
  }

  .post-date:after {
    display: none;
  }

  .post-count {
    display: block;
  }
}
