// =============================================================================
// Media queries
// =============================================================================

@media (max-width: 480px) {

  html {
    font-size: 0.875em;
  }

  .figure-img {
    display: block;
    float: none;

    &.pull-right,
    &.pull-left {
      max-width: 100%;
      margin: 0 0 $base-spacing-unit 0;
    }

    figcaption {
      text-align: center;
    }
  }

  .two-up {
    margin: 0 0 $half-spacing-unit;

    li {
      float: none;
      width: 100%;
      padding: 0 0 $half-spacing-unit;
    }
  }

  // Visibility utilities
  // =====================================

  .visible-small {
    display: inherit !important;
  }

  .visible-large {
    display: none !important;
  }

  #logo {
    .visible-small {
      visibility: visible;
    }

    .visible-large {
      visibility: hidden;
    }
  }
}
