// =============================================================================
// Tables
// =============================================================================

table {
  width: 100%;
  margin-bottom: $base-spacing-unit;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: ($base-spacing-unit / 4);
  border: 1px solid $gray-light;
  text-align: left;
}

.numerical {
  text-align: right;
}
