// =============================================================================
// Typography
// =============================================================================

// Headings
// =====================================

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $base-spacing-unit;
  font-family: $headings-font-family;
  color: $headings-color;
}

h1,
.alpha {
  @include font-combo($beta-size, $alpha-size);
}

h2,
.beta {
  @include font-combo($gamma-size, $beta-size);
}

h3,
.gamma {
  @include font-combo($delta-size, $gamma-size);
}

h4,
.delta {
  @include font-size($epsilon-size);
}

h5,
.epsilon {
  @include font-size($zeta-size);
}

h6,
.zeta {
  @include font-size($milli-size);
}

// Others
// =====================================

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  margin-bottom: $base-spacing-unit;
  border: none;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $white;
}

mark {
  color: $black;
  background: $yellow;
}

code,
kbd,
pre,
samp {
  font-family: $mono-font-family;
  @include font-size($milli-size);
}

p {
  margin: 0 0 $base-spacing-unit;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
  margin: 0 0 $half-spacing-unit;
  padding: 0;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

/**
 * We don't want to use rems for <small>, <sub> or <sup>.
 * We want the font-size to remain relative to whatever the parent element is.
 */

small {
  font-size: 0.875em;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
