// =============================================================================
// Utilities
// =============================================================================

.clearfix {
  @include clearfix;
}

// Quick floats
// =====================================

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Toggling content
// =====================================

.text-hide {
  @include hide-text;
}

// Visibility utilities
// =====================================

.visible-small {
  display: none !important;
}
