// =============================================================================
// Variables
// =============================================================================

// Grays
// =====================================

$black:                             #000 !default;
$gray-darker:                       #444 !default;
$gray-dark:                         #666 !default;
$gray:                              #999 !default;
$gray-light:                        #ccc !default;
$gray-lighter:                      #eee !default;
$white:                             #fff !default;

// Accent colors
// =====================================

$blue:                              #21759b !default;
$orange:                            #d54e21 !default;
$yellow:                            #ffff00 !default;

// Solarized colors
// =====================================

$highlight-base03:                  #002b36 !default;
$highlight-base02:                  #073642 !default;
$highlight-base01:                  #586e75 !default;
$highlight-base00:                  #657b83 !default;
$highlight-base0:                   #839496 !default;
$highlight-base1:                   #93a1a1 !default;
$highlight-base2:                   #eee8d5 !default;
$highlight-base3:                   #fdf6e3 !default;
$highlight-yellow:                  #b58900 !default;
$highlight-orange:                  #cb4b16 !default;
$highlight-red:                     #dc322f !default;
$highlight-magenta:                 #d33682 !default;
$highlight-violet:                  #6c71c4 !default;
$highlight-blue:                    #268bd2 !default;
$highlight-cyan:                    #2aa198 !default;
$highlight-green:                   #859900 !default;

// Base colors
// =====================================

$text-color:                        $gray-darker !default;
$link-color:                        $blue !default;
$link-color-hover:                  $orange !default;
$headings-color:                    $gray-darker !default;

$body-background:                   #f0f2f4 !default;
$header-background:                 $white !default;
$footer-background:                 $white !default;

// Typography
// =====================================

$base-font-size:                    16px !default;
$base-line-height:                  24px !default;
$base-font-family:                  "proxima-nova", "helvetica neue", helvetica, arial, sans-serif !default;

$headings-font-family:              "adelle", georgia, times, "times new roman", serif !default;
$mono-font-family:                  consolas, "liberation mono", courier, monospace !default;

$giga-size:                         72px !default;
$mega-size:                         48px !default;
$kilo-size:                         42px !default;

$alpha-size:                        36px !default;
$beta-size:                         30px !default;
$gamma-size:                        24px !default;
$delta-size:                        21px !default;
$epsilon-size:                      20px !default;
$zeta-size:                         16px !default;

$milli-size:                        14px !default;
$micro-size:                        12px !default;

// Scaffolding
// =====================================

$line-height-ratio:                 $base-line-height / $base-font-size !default;
$base-spacing-unit:                 $line-height-ratio * 1rem !default;
$half-spacing-unit:                 $base-spacing-unit / 2 !default;
$double-spacing-unit:               $base-spacing-unit * 2 !default;

$footer-height:                     $double-spacing-unit !default;

$base-radius:                       4px !default;
