// =============================================================================
// Directional buttons
// =============================================================================

// Bourbon | http://bourbon.io
@import "bourbon";

// Core variables and mixins
@import "variables";
@import "mixins";

// Page specific styles
// =====================================

#dir-btns {
  text-align: center;
}

$dir-size: 2.388888889rem / sqrt(2);

.dir-btn span,
.dir-btn:before {
  border: 1px solid $gray-light;
  border-radius: $base-radius;
}

.dir-btn {
  position: relative;
  display: inline-block;
  width: $double-spacing-unit * 2;
  height: $base-spacing-unit * 1.5;
  z-index: 1;

  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $quarter-spacing-unit $half-spacing-unit;
    border-left: none;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    @include linear-gradient($white, darken($white, 3%));
  }

  &:before {
    position: absolute;
    top: $dir-size / 5.75;
    left: -($dir-size / 2.475);
    display: block;
    width: $dir-size;
    height: $dir-size;
    @include linear-gradient(-45deg, $white, darken($white, 3%));
    @include transform(rotate(45deg));
    content: "";
    z-index: -1;
  }
}

.dir-btn:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);

  span {
    border-color: #aa305e;
    color: rgba(0, 0, 0, 0.75);
    @include linear-gradient(#f874a4, #ec528d);
  }

  &:before {
    border-color: #aa305e;
    @include linear-gradient(-45deg, #f874a4, #ec528d);
  }
}

.dir-next {
  span {
    border: 1px solid $gray-light;
    border-right: none;
  }

  &:before {
    left: auto;
    right: -($dir-size / 2.475);
  }
}

.dir-next:hover {
  span {
    border-color: #aa305e;
  }
}
