// =============================================================================
// Directional buttons
// =============================================================================

// Bourbon | http://bourbon.io
@import "bourbon";

// Core variables and mixins
@import "variables";
@import "mixins";

// Page specific styles
// =====================================

#dir-btns {
  text-align: center;
}

$dir-size: 2.375rem / sqrt(2);

.dir-btn {
  position: relative;
  display: inline-block;
  width: $double-spacing-unit * 2;
  height: $base-spacing-unit * 1.5;
  z-index: 1;

  span,
  &:before {
    border: 1px solid $gray-light;
    border-radius: $base-radius;
    background: $gray-lighter;
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $quarter-spacing-unit $half-spacing-unit;
    border-left: none;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  &:before {
    position: absolute;
    top: $dir-size / 5.75;
    left: -($dir-size / 2.475);
    display: block;
    width: $dir-size;
    height: $dir-size;
    @include transform(rotate(45deg));
    content: "";
    z-index: -1;
  }

  &:hover {
    text-decoration: none;

    span,
    &:before {
      border-color: #aa305e;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      color: $white;
      background: #ec528d;
    }
  }

  &:active {
    span,
    &:before {
      border-color: #822548;
      color: $white;
      background: #c5376d;
    }
  }
}

.dir-next {
  span {
    border: 1px solid $gray-light;
    border-right: none;
  }

  &:before {
    left: auto;
    right: -($dir-size / 2.475);
  }

  &:hover span {
    border-color: #aa305e;
  }
}
