---
layout: default
---

{% assign year = "" %}

<ul class="archive-list">
  {% for post in site.posts %}
    {% capture oh_year %}
      {{ post.date | date: "%Y" }}
    {% endcapture %}

    {% if year != oh_year %}
      <li class="archive-list-item with-year">
        <h1>{{ oh_year }}</h1>
        {% assign year = oh_year %}
    {% else %}
      <li class="archive-list-item">
    {% endif %}
        <article>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

          <p class="meta-data">
            {% if post.date  %}
              {{ post.date | date: "%B %d, %Y" }}
            {% endif %}
          </p>
        </article>
      </li>
  {% endfor %}
</ul>
