---
layout: default
---

{% assign year = "" %}

<ul class="archive-list clearfix">
  {% for post in site.categories.articles %}
    {% capture oh_year %}
      {{ post.date | date: "%Y" }}
    {% endcapture %}

    {% if year != oh_year %}
      <li class="archive-list-item with-year">
        <h2>{{ oh_year }}</h2>
        {% assign year = oh_year %}
    {% else %}
      <li class="archive-list-item">
    {% endif %}
        <article>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

          <p class="meta-data">
            {% if post.date  %}
              {{ post.date | date: "%B %d, %Y" }} &bull;
            {% endif %}
            {{ page.content | number_of_words }} words
          </p>
        </article>
      </li>
  {% endfor %}
</ul>
