//
// Archives
// =====================================

.archive {
  @include clearfix();
}

.archive-item {
  position: relative;

  h2 {
    position: absolute;
    top: ($base-spacing-unit / 1.2);
    right: 0;
    color: $gray;
  }

  h3 {
    margin-bottom: 0;
    padding-right: ($base-spacing-unit * 4);

    a {
      text-decoration: none;
    }
  }

  &.with-year {
    padding-top: $base-spacing-unit;
    @include keyline(top);
  }

  &:first-child {
    padding-top: 0;
    @include keyline(none);

    h2 {
      top: -#{$half-spacing-unit / 3};
    }
  }
}
