//
// Buttons
// =====================================

.btn {
  display: inline-block;
  padding: 0 ($base-spacing-unit / 3);
  border: 1px solid $gray-light;
  border-radius: $base-radius;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  color: $gray-dark;
  background: transparent;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: $gray-dark;
    background-image: linear-gradient(to bottom, $white, darken($white, 5%));
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;

    &:hover {
      box-shadow: none;
      background: transparent;
    }
  }
}

// The like button
// -------------------------------------

#likes {
  position: absolute;
  top: $quarter-spacing-unit;
  right: 0;
  display: inline-block;
  animation: fadeIn 0.5s;

  &.counted {
    border-color: $orange;
    box-shadow: none;
    color: $white;
    background: $orange;
  }

  &.moveme {
    position: relative;
    top: auto;
    right: auto;
  }

  .no-js & {
    display: none;
  }
}
