//
// Callouts
// =====================================

.callout {
  margin-bottom: $base-spacing-unit;
  padding: $base-spacing-unit $base-spacing-unit 0;
  border-left: 3px solid;
  @include clearfix();
}

.callout-info {
  border-color: lighten($blue, 30%);
  background: lighten($blue, 60%);
}

.callout-warning {
  border-color: lighten($orange, 25%);
  background: lighten($orange, 50%);

  a {
    color: $link-color-hover;

    &:hover {
      color: $link-color;
    }
  }
}
