//
// Miscellaneous
// =====================================

.meta-data {
  color: $gray;
}

// Disqus comments
// -------------------------------------

#disqus_thread {
  margin-top: $base-spacing-unit;

  iframe {
    margin-bottom: ($base-spacing-unit / 3);
  }
}
