//
// Posts
// =====================================

.post {
  position: relative;
}

.post-header {
  position: relative;
  margin-bottom: $base-spacing-unit;
  @include keyline(bottom);

  h2 {
    margin-bottom: $quarter-spacing-unit;
    padding-right: ($base-spacing-unit * 3);
  }
}

.post-footer {
  margin: $base-spacing-unit 0 $double-spacing-unit;
  @include clearfix();
}

// Media queries
// -------------------------------------

@media (min-width: $screen-xs-min) {
  .post-header h2 {
    margin-bottom: ($base-spacing-unit / 6);
  }
}
