//
// Scaffolding
// =====================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  border-top: 6px solid $highlight-base01;
  font: 1em/#{$line-height-ratio} $base-font-family;
  color: $text-color;
}

body {
  background: $body-background;
}

// Media queries
// -------------------------------------

@media (min-width: $screen-xs-min) {
  html {
    font-size: #{($base-font-size / 16px) * 1em};
  }
}
