//
// Type
// =====================================

// Headings
// -------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $quarter-spacing-unit;
  font-family: $headings-font-family;
  color: $headings-color;
}

h1,
.alpha {
  @include font-combo($beta-size, $kilo-size);
}

h2,
.beta {
  @include font-combo($gamma-size, $alpha-size);
}

h3,
.gamma {
  @include font-size($delta-size);
}

h4,
.delta {
  @include font-size($epsilon-size);
}

h5,
.epsilon {
  @include font-size($zeta-size);
}

h6,
.zeta {
  @include font-size($milli-size);
}

// Others
// -------------------------------------

p {
  margin: 0 0 $base-spacing-unit;
}

hr {
  margin-bottom: $base-spacing-unit;
  border: none;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $white;
}

blockquote {
  margin: 0 0 $half-spacing-unit;
  padding: 0;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}
