//
// Variables
// =====================================

// Grays
// -------------------------------------

$black:                                 #000 !default;
$gray-darker:                           #444 !default;
$gray-dark:                             #666 !default;
$gray:                                  #999 !default;
$gray-light:                            #ccc !default;
$gray-lighter:                          #eee !default;
$white:                                 #fff !default;

// Accent colors
// -------------------------------------

$blue:                                  #21759b !default;
$orange:                                #d54e21 !default;
$yellow:                                #fcf8e3 !default;
$brown:                                 #7f612e !default;

// Base16 colors
// -------------------------------------

$highlight-base00:                      #2b303b !default;
$highlight-base01:                      #343d46 !default;
$highlight-base02:                      #4f5b66 !default;
$highlight-base03:                      #65737e !default;
$highlight-base04:                      #a7adba !default;
$highlight-base05:                      #c0c5ce !default;
$highlight-base06:                      #dfe1e8 !default;
$highlight-base07:                      #eff1f5 !default;
$highlight-base08:                      #bf616a !default;
$highlight-base09:                      #d08770 !default;
$highlight-base0A:                      #ebcb8b !default;
$highlight-base0B:                      #a3be8c !default;
$highlight-base0C:                      #96b5b4 !default;
$highlight-base0D:                      #8fa1b3 !default;
$highlight-base0E:                      #b48ead !default;
$highlight-base0F:                      #ab7967 !default;

// Base colors
// -------------------------------------

$text-color:                            $gray-darker !default;
$link-color:                            $blue !default;
$link-color-hover:                      $orange !default;
$headings-color:                        $gray-darker !default;
$body-background:                       $white !default;

// Typography
// -------------------------------------

$base-font-family:                      "proxima-nova", "helvetica neue", helvetica, arial, sans-serif !default;
$headings-font-family:                  "adelle", georgia, times, "times new roman", serif !default;
$mono-font-family:                      menlo, consolas, "liberation mono", courier, monospace !default;
$base-font-size:                        18px !default;
$base-line-height:                      27px !default;
$mega-size:                             54px !default;
$kilo-size:                             48px !default;
$alpha-size:                            42px !default;
$beta-size:                             36px !default;
$gamma-size:                            30px !default;
$delta-size:                            24px !default;
$epsilon-size:                          21px !default;
$zeta-size:                             18px !default;
$milli-size:                            15px !default;
$micro-size:                            12px !default;

// Scaffolding
// -------------------------------------

$line-height-ratio:                     ($base-line-height / $base-font-size) !default;
$base-spacing-unit:                     ($line-height-ratio * 1rem) !default;
$half-spacing-unit:                     ($base-spacing-unit / 2) !default;
$quarter-spacing-unit:                  ($base-spacing-unit / 4) !default;
$double-spacing-unit:                   ($base-spacing-unit * 2) !default;
$footer-height:                         $double-spacing-unit !default;
$base-radius:                           4px !default;

// Breakpoints
// -------------------------------------

$screen-xs:                             480px !default;
$screen-xs-min:                         $screen-xs !default;
$screen-xs-max:                         ($screen-xs-min - 1) !default;
