---
layout: default
---

<article class="post clearfix">
  <header>
    {% if page.title %}
      <h2>{{ page.title }}</h2>
    {% endif %}

    <p class="meta-data">
      {% if page.date  %}
        {{ page.date | date: "%B %d, %Y" }} &bull;
      {% endif %}
      {{ page.content | number_of_words }} words
    </p>

    <p>
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </p>

    <nav class="nav nav-posts">
      {% if page.previous and page.previous.categories[0] == page.categories[0] %}
        <a href="{{ page.previous.url }}">Prev</a>
      {% else %}
        Prev
      {% endif %}

      &bull;

      {% if page.next and page.next.categories[0] == page.categories[0] %}
        <a href="{{ page.next.url }}">Next</a>
      {% else %}
        Next
      {% endif %}
    </nav>
  </header>

  <div class="content">
    {{ content }}
  </div>
</article>
